:root {
    --primary-color: #212121;
    --text-color: #757575;
    --selection-color: #2196F3;
    --background-color: #2F303A; 
    --hero-font-color: #FFFFFF;
    --footer-logo-address-color: rgba(255, 255, 255, 1);
    --footer-links-color:rgba(255, 255, 255, 0.6);
    }

    body { font-family: 'Roboto', sans-serif, 'Raleway', sans-serif;
        color: var(--primary-color);
    }
    
    .header-logo { font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        text-decoration: none;
        color: var(--primary-color)
    }
    
    .blue-element { color: #2196F3;
    }
    
    .list { list-style: none;
    }

    .nav-item { font-family: 'Roboto'; 
        font-weight: 500; 
        font-size: 14px; 
        line-height: 16px; 
        letter-spacing: 0.02em; 
    text-decoration: none; 
    color: var(--primary-color); 
    }
    
    .nav-item:hover, .nav-item:focus { color: #2196F3}
    
    .header-tel-link, .header-mail-link { font-family: 'Roboto';
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em; 
    text-decoration: none;
    color: var(--text-color);
}
    
    .header-tel-link:hover, .header-tel-link:focus { color: var(--selection-color); }
    .header-mail-link:hover, .header-mail-link:focus { color: var(--selection-color); }

    .hero { color: var(--hero-font-color);
        background-color: var(--background-color); }
        
        .hero-head { font-weight: 900;
            font-size: 44px;
            line-height: 60px;
            text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        }
        
        .hero-btn { font-weight: 700;
            font-size: 16px;
            line-height: 30px;
            align-items: center;
            text-align: center;
            letter-spacing: 0.06em;
        background-color: var(--selection-color); }

    .text-headline { font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        
        color: var(--primary-color);
    }

    .text { font-weight: 400;
        font-size: 14px;
        line-height: 24px;
     letter-spacing: 0.03em;
        
        color: var(--text-color);
    }

    .headline { font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
        
        color: var(--primary-color);
    }

    .team-member { font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.03em;
        
        color: var(--primary-color);
    }

    .team-position { font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.03em;
        
        color: var(--text-color);
    }

    .footer { background-color: var(--background-color);
    }

    .footer-logo { font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: var(--footer-logo-address-color);
        text-decoration: none;
    }

.address {font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--footer-logo-address-color);
    }

.footer-tel-link, .footer-mail-link { font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration: none;
    
    color: var(--footer-links-color);
}

.footer-tel-link:hover, .footer-tel-link:focus 
{ color: var(--selection-color);
}

.footer-mail-link:hover, .footer-mail-link:focus
 { color: var(--selection-color);
}